header {
    text-align: center;
    background-color: gray;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: gray;
    height: 100px;
    width: 100%;
    z-index: 2;
}

main {
    /* Adding 10px simulates padding... */
    margin-top: 110px;
    margin-bottom: 110px;
}